Options +FollowSymLinks
PythonInterpPerDirective On
AddHandler mod_python .py
PythonHandler cpss
PythonDebug On
RewriteEngine on

RewriteCond %{REQUEST_URI} "static/"
RewriteRule (.*) $1 [L]

RewriteCond %{REQUEST_URI} "robots.txt"
RewriteRule (.*) $1 [L]

RewriteCond %{REQUEST_URI} "favicon.ico"
RewriteRule (.*) $1 [L]

RewriteRule ^cpss(.*) - [L]
RewriteRule ^(.*) ./cpss.py/$1 [L,QSA]
