# Copy the file to config.py and fill out the fields to setup the system.
config = {
    # 'html_base' defines the root web address of the proposal system site.
    # This sets the html <base> tag in every page to get relative links
    # correct.
    'html_base' : '',
    # 'base_directory' is the root directory on the server the proposal
    # system is installed in. 
    'base_directory' : '',
    # 'files_directory' is the directory holding the temporary working files
    # for pdf generation. This is relative to base_directory.
    'files_directory' : '',
    # 'data_directory' is the directory that holds the pdf files and the
    # uploaded images, etc.
    'data_directory' : '',
    # Sendemail is either true/false. Its a global flag that turns on and
    # off email sending on user creation, etc.
    'sendemail' : True,
    # Debug turns off the email error message sending system for all logins
    # (not just the admin account), for debugging purposes.
    'debug' : False,
    # 'error_email' is the address that proposal system error tracebacks are
    # sent to. For multiple addresses, specify a list.
    'error_email' : [''],
    # 'fast_email' is the address as the high site that fast proposals are
    # sent to. For multiple addresses, pass a list.
    'fast_email' : [''],
    # 'submit_notify' is/are the address(es) that are emailed about a new ddt
    # or fast-track proposal submission. For multiple addresses, specify a list.
    'submit_notify' : [''],
    # The database information
    'db' : { 'host' : '',
             'user' : '',
             'passwd' : '',
             'db' : '',
             'unix_socket' : '',
             },
    }
