body {
	color : black;
	margin : 0 0 0 0;
	background : white;
	font-family : arial, sans-serif;
     }

div#editlist {
	width : 800px;
	margin : 0 auto 0 auto;
	padding : 0;
	font-size : 14pt;
	color : black;
}

#editlist p { 
	border-bottom : 1px solid black;
	padding : 0 0 2px 0;
	margin : 0;
	font-weight : bold;
}

#editlist table {
	color : black;
	width : 100%;
	margin: 0 auto 0 auto;
	padding: 0;
	border-collapse:collapse;
	font-size : 10pt;
	text-align:center;
	border: 0;
}	

#editlist table tr th {
	color : black;
	background : #CCCCCC;
	padding : 0;
	margin: 0;
	border: 0;
	text-align : center;
	font-weight : bold;
	font-size : 10pt;
}

#editlist table tr td {
	background : #F0F0F0;
	text-align:center;
	padding : 0;
	margin: 0;
	border : 0;
	vertical-align : middle;
}

#editlist font#error {
	color : red;
	font-weight : bold;
	font-style : italic;
	margin: 0;
	padding: 0px;
}

#editlist p.textview {
	text-align : left;
	margins: 0;
	border : 0;
	padding : 2px;
}
